<div class="example-dialog-container">
  <div mat-dialog-content>
    <h1 mat-dialog-title>Login</h1>
    <form [formGroup]="loginForm" class="example-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" [type]="passwordInputType" matInput />
        <button
          type="button"
          (click)="togglePasswordInputType()"
          matSuffix
          mat-icon-button
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <div mat-dialog-actions>
      <button type="submit" (click)="onSubmit()" mat-raised-button>Ingresar</button>
    </div>
  </div>
</div>
