<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-icon mat-button (click)="drawer.toggle()">menu</mat-icon>
    <mat-nav-list>
     <a 
      routerLinkActive
      #homeLink="routerLinkActive"
      routerLink="/dashboard/home" 
      [activated]="homeLink.isActive"
      mat-list-item>Home</a>
      <!--<a 
      routerLinkActive
      #dashboardLink="routerLinkActive"
      routerLink="/dashboard" 
      [activated]="dashboardLink.isActive"
      mat-list-item>Dashboard</a>-->
      <a 
      routerLinkActive
      #coursesLink="routerLinkActive"
      routerLink="/dashboard/courses" 
      [activated]="coursesLink.isActive"
      mat-list-item>Courses</a>
      <a 
      routerLinkActive
      #studentsLink="routerLinkActive"
      routerLink="/dashboard/students" 
      [activated]="studentsLink.isActive"
      mat-list-item>Students</a>
      <a (click)="logout()" mat-list-item>Cerrar Sesiòn</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">     
        <mat-icon mat-button (click)="drawer.toggle()">menu</mat-icon>   
      </button>
      <span>My App - {{ ENV.stage | json }}</span>
      <span class="example-spacer"></span>
      <span *ngIf="authUser$ | async; let item"> {{ item.firstName }}  {{ item.lastName }}</span>   
    </mat-toolbar>
  </div>
  <div class="grid-conteniner">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
